html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

.box{
  display: flex;
  flex-direction: column;
  
}

.color{
  display: flex;
}

.slider-box{
  border: 1px solid black;
  padding:40px;
}